absl-py==2.4.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
aria2p==0.12.1
arrow==1.4.0
asciimatics==1.15.0
asttokens==3.0.1
async-lru==2.3.0
async-timeout==5.0.1
attrs==26.1.0
av==17.0.0
awscli==1.44.80
babel==2.18.0
beautifulsoup4==4.14.3
bidict==0.23.1
black==22.3.0
bleach==6.3.0
blinker==1.9.0
botocore==1.42.90
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cmake==4.3.1
colorama==0.4.6
colorlog==6.10.1
comet_ml==3.57.3
comm==0.2.3
ConfigArgParse==1.7.5
configobj==5.0.9
contourpy==1.3.2
coverage==7.13.5
cryptography==46.0.7
cycler==0.12.1
Cython==3.0.11
dash==4.1.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
descartes==1.1.0
dill==0.4.1
-e git+https://github.com/DivingFishes/dn-splatter.git@f995a6203dc2f50a77aa492df960e4107bf08f01#egg=dn_splatter
docstring_parser==0.18.0
docutils==0.19
dulwich==0.25.2
embreex==2.17.7.post7
everett==3.1.0
exceptiongroup==1.3.1
executing==2.2.1
fastcore==1.12.39
fastjsonschema==2.21.2
filelock==3.28.0
fire==0.7.1
Flask==3.1.3
fonttools==4.62.1
fpsample==1.0.2
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.8.0
fsspec==2026.3.0
gdown==6.0.0
geffnet==1.0.2
gitdb==4.0.12
GitPython==3.1.46
grpcio==1.80.0
gsplat==1.0.0
h11==0.16.0
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-retries==0.4.6
humanize==4.15.0
idna==3.11
ImageIO==2.37.3
importlib_metadata==9.0.0
iniconfig==2.3.0
ipykernel==7.2.0
ipython==8.39.0
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jaxtyping==0.3.7
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
json5==0.14.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
lark==1.3.1
lazy-loader==0.5
lightning-utilities==0.15.3
loguru==0.7.3
lxml==6.0.4
manifold3d==3.4.1
mapbox_earcut==2.0.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mediapy==1.2.6
mistune==3.2.0
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
multidict==6.7.1
multiprocess==0.70.19
mypy_extensions==1.1.0
narwhals==2.19.0
natsort==8.4.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nerfacc==0.5.2
nerfstudio==1.1.3
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nodeenv==1.10.0
notebook_shim==0.2.4
numpy==1.26.4
nuscenes-devkit==1.2.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
omnidata-tools==0.0.23
open3d==0.18.0
opencv-python==4.8.0.76
opencv-python-headless==4.11.0.86
overrides==7.7.0
packaging==26.0
pandas==2.3.3
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.6
pathos==0.3.5
pathspec==1.0.4
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
plotly==6.7.0
pluggy==1.6.0
pox==0.3.7
ppft==1.7.8
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==3.20.3
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==15.0.2
pyasn1==0.6.3
pybind11==3.0.3
pycocotools==2.0.11
pycollada==0.9.3
pycparser==3.0
pydantic==2.13.2
pydantic_core==2.46.2
pyfiglet==1.0.4
pyglet==2.1.14
Pygments==2.20.0
pyliblzfse==0.4.1
PyMCubes==0.1.2
pymeshlab==2023.12.post3
pyngrok==8.0.0
PyOpenGL==3.1.0
pyparsing==3.3.2
pyperclip==1.11.0
pyquaternion==0.9.9
pyrender==0.1.45
PySocks==1.7.1
pytest==9.0.3
python-box==6.1.0
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-json-logger==4.1.0
python-socketio==5.16.1
pytorch-lightning==2.6.1
pytorch-msssim==1.0.0
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
rawpy==0.26.1
referencing==0.37.0
requests==2.33.1
requests-toolbelt==1.0.0
rerun-sdk==0.15.1
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rpds-py==0.30.0
rsa==4.7.2
rtree==1.4.1
s3transfer==0.16.0
scikit-image==0.25.2
scikit-learn==1.7.2
scikit_build_core==0.12.2
scipy==1.15.3
semantic-version==2.10.0
Send2Trash==2.1.0
sentry-sdk==2.58.0
shapely==2.0.7
shtab==1.8.0
simple-websocket==1.1.0
simplejson==3.20.2
six==1.17.0
smmap==5.0.3
soupsieve==2.8.3
splines==0.3.0
stack-data==0.6.3
svg.path==7.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==0.6.7
tinycss2==1.4.0
tomli==2.4.1
torch==2.2.2+cu118
torch_fidelity==0.4.0
torchmetrics==1.9.0
torchvision==0.17.2+cu118
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
trimesh==4.11.5
triton==2.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.8.3
tzdata==2026.1
uri-template==1.3.0
urllib3==2.6.3
vdbfusion==0.1.6
vhacdx==0.0.10
viser==0.1.27
wadler_lindig==0.1.7
wandb==0.25.0
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
wrapt==2.1.2
wsproto==1.3.2
wurlitzer==3.1.1
xatlas==0.0.11
xxhash==3.6.0
yarl==1.23.0
yourdfpy==0.0.60
zenodo-get==3.0.0
zipp==3.23.1
